.developers {
  height: 100vh;
  background-color: var(--p2-color);
}

.developers__title {
  padding-top: 80px;
}

.developers__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.developers__cards {
  display: flex;
  gap: 60px;
  margin-top: 60px;
}

.developers__card {
  display: grid;
  grid-template-columns: 84px 1fr;
  gap: 20px;
}

.developers__name {
  margin-bottom: 4px;
}

.developers__cta {
  position: absolute;

  bottom: 100px;
}

@media (max-width: 900px) {
  .developers {
    height: auto;
    padding-bottom: 32px;
  }

  .developers__cards {
    flex-direction: column;
    gap: 30px;
  }

  .developers__cta {
    display: none;
  }
}
