.developers {
  height: 100vh;
  background-color: var(--p2-color);
}

.developers__title {
  padding-top: 80px;
}

.developers__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.developers__cards {
  display: flex;
  gap: 60px;
  margin-top: 60px;
}

.developers__card {
  display: flex;
  align-items: center;
  gap: 20px;
}

.developers__name {
  margin-bottom: 4px;
}

.developers__cta {
  position: absolute;

  bottom: 100px;
}
