.projects {
  height: 100vh;
  background-image: url(../../assets/images/background/projects-bg.png);
  background-size: cover;
  background-position: center;
}

.projects__container {
  height: 100%;
  position: relative;
}

.projects__title {
  padding-top: 80px;
  text-align: center;
}

.projects__cards {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  max-width: 1200px;
  margin: 0 auto;
}

.projects__card {
  display: flex;
  gap: 60px;
}

.projects__card:nth-child(2) {
  margin-left: 200px;
}

.projects__subtitle {
  margin-bottom: 16px;
}

.projects__cta {
  position: absolute;
  right: 15px;
  bottom: -25px;
}

@media (max-width: 1200px) {
  .projects__card {
    gap: 24px;
  }
  .projects__icon {
    max-width: 80px;
  }
}

@media (max-width: 768px) {
  .projects__cards {
    padding-top: 48px;
    gap: 40px;
  }

  .projects__card:nth-child(2) {
    margin-left: 0;
  }

  .projects__card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .projects__icon {
    max-width: 40px;
  }

  .projects__cta {
    display: none;
  }
}
